*.py[co]
.tox
.vscode
__pycache__
*.log
*.egg*
*.sqlite

# Generated.
*.out.rdf
*.out.jsonld
*.out.nt
*.out.ttl
*.out
*.out.csv
*.out.*
*.db
*.nt
*.short.ld.yaml
*.tmp
.local
build/

# RDF files
*.rdf

*.schema.json
*.oas3.json

deleteme
_build
