#
# Run pre-commit hooks. You can run them without installing
#  the hook with
#
# $ pre-commit run --all-files
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: trailing-whitespace
    # -   id: end-of-file-fixer
    -   id: check-yaml
        args: [--allow-multiple-documents]
    -   id: check-added-large-files
        args:
        - "--maxkb=4000"
    # -   id: check-json
    #     files: '^assets\/controlled-vocabularies\/.*\.json'
    # -   id: pretty-format-json
    #     args:
    #     - "--autofix"
    #     - "--no-sort-keys"
    #     files: '^assets\/controlled-vocabularies\/.*\.json'
    # -   id: pretty-format-json-ld
    #     args:
    #     - "--autofix"
    #     - "--no-sort-keys"
    #     name: pretty format json-ld
    #     files: '^assets\/controlled-vocabularies\/.*\.jsonld'
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
    - id: isort
      name: isort (python)
      # Use black profile for isort to avoid conflicts
      #   see https://github.com/PyCQA/isort/issues/1518
      args: ["--profile", "black"]
    - id: isort
      name: isort (cython)
      types: [cython]
    - id: isort
      name: isort (pyi)
      types: [pyi]

#
# Semantic checks.
#
- repo: https://github.com/teamdigitale/json-semantic-playground
  rev: c10c5879438de0d321d6591ec88ace95e042e9d2
  hooks:
  # - id: validate-csv
  #   files: >-
  #     ^assets\/controlled-vocabularies\/.*\.csv
  - id: validate-oas-schema
    files: >-
      ^assets\/schemas\/.*.oas3.yaml
  - id: validate-turtle
    name: Validate ontologies
    files: >-
      ^assets\/ontologies\/[^\/]+\/.*\.ttl
  - id: validate-turtle
    name: Validate controlled vocabularies
    files: >-
      ^assets\/controlled-vocabularies\/.*\.ttl
  - id: validate-directory-versioning
    files: '^assets\/ontologies\/.*\.ttl'

#
# TTL Serialization.
#

- repo: local
  hooks:
  - id: ttlfmt
    name: Serialize turtle files
    entry: ttlfmt
    files: >-
      ^assets/.*\.ttl
    types:
    - file
    language: python
    additional_dependencies:
    - rdflib==6.2.0
    - ttlser==1.1.4
    - ttlser[ttlfmt]==1.1.4
  - id: check-json-ld
    name: check json-ld
    entry: python scripts/check_json.py
    files: '^assets\/controlled-vocabularies\/.*\.jsonld'
    language: python
    additional_dependencies:
    - typing
  - id: pretty-format-json-ld
    name: pretty format json-ld
    entry: python scripts/pretty_format_json.py
    args:
    - "--autofix"
    - "--no-sort-keys"
    files: '^assets\/controlled-vocabularies\/.*\.jsonld'
    language: python
    additional_dependencies:
    - typing
  - id: csvseparator
    name: Check csv separator
    entry: python scripts/fix-csv-separator.py
    files: >-
      ^assets\/controlled-vocabularies\/.*\.csv
    language: python
    additional_dependencies:
    - pandas==1.5.0
    types:
    - file
